.photo-grid {
    width: 92%;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 92px auto 0;
    padding-bottom: 92px;
    justify-content: center;
}