@import url(../vendor/normalize.css);
@import url(../vendor/fonts/inter.css);
@import url(../blocks/body/body.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__lang-link/header__lang-link.css);
@import url(../blocks/header/__lang-link/__lang-link-active/header__lang-link_active.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/content/content.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__subtitle/lead__subtitle.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/intro/__list/intro__list.css);
@import url(../blocks/photo-grid/photo-grid.css);
@import url(../blocks/photo-grid/__item/photo-grid__item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/place/place.css);
@import url(../blocks/place/__title/place__title.css);
@import url(../blocks/place/__website/place__website.css);
@import url(../blocks/place/__url-heading/place__url-heading.css);
@import url(../blocks/place/__link/place__link.css);
@import url(../blocks/place/__image/place__image.css);
@import url(../blocks/place/__container-paragraph/place__container-paragraph.css);
@import url(../blocks/place/__paragraph/place__paragraph.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__subtitle/cover__subtitle.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__author/footer__author.css);
@import url(../blocks/link-opacity/link-opacity.css);
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .page {
        max-width: 1024px;
    }
    .header {
        max-width: 928px;
    }
    .content {
        margin: 0;
        max-width: 1024px;
    }
    .lead{ 
        max-width: 928px;
        margin: 0 auto;
    }
   .lead__image {
        width: 100%; 
   }
   .intro {
        max-width: 928px;
   }

   .photo-grid {
    max-width: 928px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 14px;
    margin: 92px auto 0;
   }
   
   .places {
    max-width: 928px;
   }
   .cover {
    max-width: 1024px;

   }
   .footer {
    max-width: 928px;
   }
}

@media screen and (max-width: 768px) and (min-width: 426px) {
    .page {
        max-width: 768px;
    }

    .header {
        max-width: 720px;
    }

    .content {
        width: 100%;
    }
  
   .lead {
    width: 100%; 
   }
   .intro {
    max-width: 720px;
   }

   .photo-grid {
    max-width: 720px;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin: 88px auto 0;
   }
   
   .places {
    max-width: 720px;
   }
   .cover {
    width: 100%;
   }

   .footer {
    max-width: 720px;
    padding-top: 88px;
   }
}

@media screen and (max-width: 425px) {
    .page {
        max-width: 320px;
    }

    .header {
        max-width: 288px;
    }

    .header__lang-link {
    font-size: 18px;
    line-height: 20px;
    }

    .content {
        width: 100%;
    }
  
   .lead {
    width: 100%; 
   }

   .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
   }

   .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
   }

   .intro {
    max-width: 288px;
   }

   .intro__title {
    font-size: 32px;
    line-height: 35px;
   }

   .photo-grid {
    max-width: 288px;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: 1fr;
    gap: 12px;
    margin: 64px auto 0;
   }
   
   .places {
    max-width: 288px;
   }

   .place {
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;
    }

    .place:last-of-type {
        padding-bottom: 66px;
    }
    .place__website {
    align-self: auto;
    }

    .place__title {
    font-size: 32px;
    line-height: 35px;
    }

    .place__paragraph {
    font-size: 16px;  
    }
   .cover {
    width: 100%;
    min-height: 200px;
   }

   .cover__link {
    width: 100%;
    min-height: 200px;
   }

   .cover__link::before {
    height: 200px;
   }


   .cover__title {
    font-size: 32px;
    line-height: 35px;
    padding-top: 33px;   
   }

   .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;   
   }

  
   .footer {
    max-width: 288px;
    padding-top: 64px;
    flex-direction: column;
   }

   .footer__link {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 32px;
   }

   .footer__author {
    font-size: 14px;
    line-height: 14px;
    margin: 48px 0 24px;
   }
}