.footer {
    max-width: 90%;
    display: flex;
    justify-content: start;
    margin: 0 auto;
    padding: 92px 0 24px;
}

@media screen and (max-width: 1023px) and (min-width:768px)  { 
    .footer {
     max-width: 928px;
    }
}

@media screen and (max-width: 767px)  {
    .footer {
     max-width: 288px;
     padding-top: 64px;
     flex-direction: column;
    }
} 